@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    box-sizing: border-box;

}

body{
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #eef5ff !important;
}


.lgpg{
    display: flex;
    position: relative;
    max-width: 1400px;
    width: 941px;
    height: 607px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.047);;
    background-color: #ffffff;
    border-radius: 20px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: -100px;
}

input{
    border-radius: 7px;
    border-width: 0.1px;
    padding-bottom: 15px;
    padding-right: 233px;
    border-color: #a3a4a84f;
    font-weight: bold;
    padding-left: 15px;
    padding-top: 14px;
    height: 47px;
}

input::placeholder{
    font-size: 16px;
    letter-spacing: 0.5px;
    font-weight: 500 !important;
}

.heading{
    margin-bottom: 30px !important;
}

.sidebardesk{
    background-image: url("assets/images/bg-sidebar-desktop.svg");
    background-repeat: no-repeat;
    width: 291px;
    padding-top: 41px !important;
    padding-left: 35px !important;
    margin-right: 50px;
    margin-left: 17px;
    margin-top: 18px;
}

.formdesk{
    padding-top: 25px;
    padding-left: 51px;
}

h1{
    color: #03295a;
    font-size: 35px !important;
    font-weight: bolder !important;
    margin-bottom: 5px !important;

}

p{
    font-size: 16px !important;
    font-weight: bold !important;
    color: #a3a4a8;
    font-weight: 400 !important;
    margin-bottom: 0 !important;
}

.title{
    padding-top: 35px;
    padding-bottom: 15px;
}

#headingN, #headingE, #headingT{
margin-top: 10px !important;
margin-bottom: 5px !important;
color: #03295a;
font-weight: 400 !important;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 549px;
}

.main .child3 {
    display: flex;
    width: 100%;
    height: 75px;
    justify-content: flex-end;
}

.btn-primary{
    padding-top: 10px !important;
--bs-btn-bg: #06295f !important;
--bs-btn-border-color: #06295f !important;
--bs-btn-hover-bg: #625aff !important;
    height: 46px;
}

.lgpg > .main{
    display: flex;
    align-self: end;
}

.child1{
    margin-top: -10px !important;

}

.child2{
    margin-top: 42px !important;
}

.phases {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
}

.taps{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 218px;
}

.bord{
    border-style: solid;
    border-width: 2px;
    border-color: #fff;
    width: 36px;
    height: 36px;

}

.taps-ord{
    color: #fff;
    line-height: 15px;
}

.tex{
    margin-left: 4px;
    margin-top: -11px;
}

.description{
    font-size: 13px !important;
    font-weight: 400;
    color: #afb9ff;

}

.information{
    font-size: 16px !important;
    font-weight: 900 !important;
    color: #fff;
}

input:invalid{
    color: red;
}

